<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="assets/images/wavezlogo.png">
	<title>Krytpx | Wavez 2016</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<!-- <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'> -->
		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
		<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/> -->
		
		<!-- css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/animate.css">
		<link rel="stylesheet" href="assets/css/style.css" media="screen"/>
        
</head>
<body>
<header class="top-header" style="background: rgba(43, 62, 81, 0.77) none repeat scroll 0% 0%; visibilty:visible;">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-5 col-sm-3 header-logo">
						<br>
						<a href="wavez.org.in"> 
							<h1 class="logo">Wavez <span class="logo-head">2016</span></h1>
						</a>
					</div>

					<div class="col-md-9 col-xs-7 col-sm-9">
						<nav class="navbar navbar-default">
						  	<div class="container-fluid nav-bar">
						          	<ul class="nav navbar-nav navbar-right">
						          	<!--
							        	<li>
											<a href="scoreboard.html"><i class="fa fa-star"></i>Scoreboard</a>
										</li>
									
										<li>
											<a href="kryptx.html"><i class="fa fa-home"></i> Home</a>
										</li>
										<li>
											<a><span class="e" style="cursor: pointer"><i class="fa fa-user"></i>Login</span></a>
										</li>
									-->	
									</ul>
						  	</div><!-- / .container-fluid -->

                            <div class="modal fade eventname" role="dialog" tabindex='-1'>
                                <div class="modal-dialog">
   
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title">Start Solving
                                            <br>
                                            <!--
                                            <a class="btn btn-info btn-lg livetab elogin" role="button" id="elogin">Login
                                            </a>&nbsp;
                                            -->
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="plogin" class="plogin">
                                                <i class="fa fa-user" id="login-fa"></i>
                                                <div class="row" style="padding-top:50px">
                                                    <div style="text-align: center" >
                                                        <input name="enter_email" id="enter_email" class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-6 col-md-offset-3 " placeholder="Enter email id" type="text" required style="letter-spacing:1px; ">
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:50px">
                                                    <div style="text-align: center" >
                                                        <input name="enter_email" id="enter_email" class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-6 col-md-offset-3 " placeholder="Enter password" type="text" required style="letter-spacing:1px;">
                                                    </div>
                                                </div>
                                                <div class="row" id="choose-buttons">
                                                <a class="btn btn-info btn-lg " role="button" id="login-button" style="margin-top:5px; width:180.063px;">Login
                                                </a>
                                                <!--
                                                <a class="btn btn-info btn-lg " role="button" id="login-button" style="margin-top: 5px;">Forgot Password?
                                                </a>
                                                -->
                                                </div>
     
                                             </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
						</nav>
					</div>
				</div>
			</div>
		</header><!-- /navbar-collapse -->
		<div class="container " style=" padding-top:100px">
			<div style="text-align:center">
			    <h1>KRYPTX 2016</h1>
			    <p style="font-size: 20px; letter-spacing: 1px; color:#505050">Kryptx is an quizzing event conducted as publicity event; it is an online event which is played by about 200 people all over Tamil Nadu.</p>
		    </div>
		    <div class="content-format" style="border: 1px solid #596776">
		    	<h3>Home - </h3>
		    	<ul >
		    		<li>As the name suggests, Kryptx is an online cryptic event, more like an Online Treasure Hunt.</li>
		    		<li>The puzzles require some amount of lateral, out of box, pattern matching and lots of Googling.</li>
		    		<li>And above all, walk home with lots of prizes in the end! </li>
		    	</ul>
		    	<h3>Event Format -</h3>
		    	<ul >
		    		<li>This is an individual event.</li>
		    		<li>Participants need to register on the Wavez 2016 website to start playing.</li>
		    		<li>The answer to every question will be a word or a meaningful combination of words.</li>
		    		<li>Participants need to type the answer in the box provided below the question.</li>
		    		<li>If the submitted answer is correct, they will be proceeded to the next level.</li>
		    	</ul>
		    	<h3>Disqualification</h3>
		    	<ul>
		    		<li>Malpractices like having multiple accounts etc., are strictly prohibited. Anyoone who indulges in such practices would be disqualified.</li>
		    	</ul>
		    	<h3>Hints -</h3>
		    	<ul>
		    	    <li>Contestants should try to crack the code using the regular hints given on the Wavez Facebook Page.</li>
		    	</ul>
		    	<h3>Winner -</h3>
		    	<ul  style="list-style-type:circle">
		    		<li>The first contestants to complete all the questions will be the winner. If nobody completes all the questions in stipulated time, then the person who completes maximum number of questions will be the winner. In case of a tie, the person who enters the maximum level of completion will be declared the winner.</li>
		    	</ul>
		    </div>
		</div>

        
        <script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		

        <script type="text/javascript">
            jQuery(document).ready(function($){
            	$(".e").click(function(){
				$(this).closest("div").next().modal();
			    });

				$(".elogin").click(function(){
					$(this).closest("h4").children("a").removeClass("livetab");
					$(this).addClass("livetab");
					$(this).closest("div").next().children("div").hide(10);
					$(this).closest("div").next().children(".plogin").slideDown();
				});
               })
        </script>



<%# link_to "Kryptx", :controller => :kryptx, :action => :show,{:style=>"color:#fff;"}:class => "btn btn-info btn-lg livetab" %>
<%= link_to "Start Playing", {controller: "kryptx", action: "show"}, class: "btn btn-success center-block" %>
</body>
</html>