<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="assets/images/wavezlogo.png">
	<title>Krytpx - Scoreboard | Wavez 2016</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
		<!-- <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		 -->
		<!-- css -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/animate.css">
		<link rel="stylesheet" href="assets/css/TableCSSCode.css">
		<link rel="stylesheet" href="assets/css/style.css" media="screen"/>
        <style>


.CSSTableGenerator {
margin:0px;padding:0px;
width:100%; box-shadow: 10px 10px 5px #888888;
border:1px solid #000000;

-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;

-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;

-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;

-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}.CSSTableGenerator table{
width:100%;
height:100%;
margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
-moz-border-radius-bottomright:0px;
-webkit-border-bottom-right-radius:0px;
border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
-moz-border-radius-topleft:0px;
-webkit-border-top-left-radius:0px;
border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
-moz-border-radius-topright:0px;
-webkit-border-top-right-radius:0px;
border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
-moz-border-radius-bottomleft:0px;
-webkit-border-bottom-left-radius:0px;
border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
background-color:#d3e9ff;
}
.CSSTableGenerator td{
vertical-align:middle;

background-color:#ffffff;
border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:center;
padding:7px;
font-size:16px;
font-family:Arial;
font-weight:normal;
color:#000000;
}.CSSTableGenerator tr:last-child td{
border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #0057af 5%, #0000e0 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0000e0) );    background:-moz-linear-gradient( center top,#6D6D96 5%, #5151AB 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0000e0");  background: -o-linear-gradient(top,#0057af,0000e0);
background-color:#0057af;
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
font-size:18px;
font-family:Arial;
font-weight:bold;
color:#ffffff;
}
/*.CSSTableGenerator tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #0057af 5%, #0000e0 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0000e0) );    background:-moz-linear-gradient( center top, #0057af 5%, #0000e0 100% );    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0000e0");  background: -o-linear-gradient(top,#0057af,0000e0);
background-color:#0057af;
}*/
.CSSTableGenerator tr:first-child td:first-child{
border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
border-width:0px 0px 1px 1px;
}

</style>       
</head>
<body>
<header class="top-header" style="background: rgba(43, 62, 81, 0.77) none repeat scroll 0% 0%; visibilty:visible;">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-5 col-sm-3 header-logo">
						<br>
						<a href="wavez.org.in"> 
							<h1 class="logo">Wavez <span class="logo-head">2016</span></h1>
						</a>
					</div>

					<div class="col-md-9 col-xs-7 col-sm-9">
						<nav class="navbar navbar-default">
						  	<div class="container-fluid nav-bar">
						          	<ul class="nav navbar-nav navbar-right">
							        	<li>
											<a href="#testimonials"><i class="fa fa-star"></i>Scoreboard</a>
										</li>
										<li>
											<a href="/kryptx/play.html">Play</a>
										</li>
                                        <!--
							        	<li>
											<a><span class="e" style="cursor: pointer"><i class="fa fa-user"></i>Login</span></a>
										</li>
										-->
									</ul>
						  	</div><!-- / .container-fluid -->

                            <div class="modal fade eventname" role="dialog" tabindex='-1'>
                                <div class="modal-dialog">
   
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                            <h4 class="modal-title">Start Solving
                                            <br>
                                            <a class="btn btn-info btn-lg livetab elogin" role="button" id="elogin">Login
                                            </a>&nbsp;
                                            </h4>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <div id="plogin" class="plogin">
                                                <i class="fa fa-user" id="login-fa"></i>
                                                <div class="row" style="padding-top:50px">
                                                    <div style="text-align: center" >
                                                        <input name="enter_email" id="enter_email" class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-6 col-md-offset-3 " placeholder="Enter email id" type="text" required style="letter-spacing:1px; ">
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-bottom:50px">
                                                    <div style="text-align: center" >
                                                        <input name="enter_email" id="enter_email" class="col-xs-10 col-sm-8 col-sm-offset-2 col-xs-offset-1 col-md-6 col-md-offset-3 " placeholder="Enter password" type="text" required style="letter-spacing:1px;">
                                                    </div>
                                                </div>
                                                <div class="row" id="choose-buttons">
                                                <a class="btn btn-info btn-lg " role="button" id="login-button" style="margin-top:5px; width:180.063px;">Login
                                                </a>
                                                <a class="btn btn-info btn-lg " role="button" id="login-button" style="margin-top: 5px;">Forgot Password?
                                                </a>
                                                </div>
     
                                             </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
						</nav>
					</div>
				</div>
			</div>
		</header><!-- /navbar-collapse -->
		

		<div class="container " style=" padding-top:175px">
			<div style="text-align:center">
			    <h1>KRYPTX 2016 - Leaderboard</h1>
			</div>
		    <div class="content-format">
		    	<div class="CSSTableGenerator" >
                <table >
                    <tr>
                        <td style="text-align:center">
                            Position
                        </td>
                        <td >
                            Nick
                        </td>
                        <td>
                            Solved Questions
                        </td>
                    </tr>
<%@t=0%>
<% @result.each do |t| %>
<tr>
  <% @t=@t+1 %>
  <td><%= @t %></td>
  <td><%= t.user.nick %></td>
  <td><%= t.score-1  %></td>
</tr>
<% end %>                   
                    
                    

                </table>
            </div>

		    </div>
		</div>

        
        <script src="assets/js/jquery-2.1.3.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/jquery.actual.min.js"></script>
		<script src="assets/js/jquery.scrollTo.min.js"></script>
		
        <script type="text/javascript">
            jQuery(document).ready(function($){
            	$(".e").click(function(){
				$(this).closest("div").next().modal();
			    });

				$(".elogin").click(function(){
					$(this).closest("h4").children("a").removeClass("livetab");
					$(this).addClass("livetab");
					$(this).closest("div").next().children("div").hide(10);
					$(this).closest("div").next().children(".plogin").slideDown();
				});
               })
        </script>




</body>
</html>